.dots {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.dot {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--darker-primary-color);
    cursor: pointer;
    transition: color 0.3s;
    padding: 0;
}

.dot.active {
    background-color: var(--darker-primary-color);
    transform: scale(1.1);
}