.features {
    padding: 2rem 1.5rem;
    position: relative;

}

.content {
    overflow: hidden;
    position: relative;
    text-align: center;
}



.features:after {
    content: '';
    position: absolute;
    background-color: var(--white);
    inset: 0;
    transform: skewY(-2deg);
    z-index: -1;
}

.featuresList {
    display: flex;
    align-items: center;
    cursor: grab;
    margin-top: 1.5rem;
}

.featuresList:active {
    cursor: grabbing;
}

.featuresGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 2.5rem 0;
}