.footer {
    padding: var(--topAndBotPadding) var(--sidePadding);
    background-color: var(--background-color-2);

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.logo {
    width: 3.5rem;
    max-height: 2.1875rem;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    text-align: center;
}

.socials {
    display: flex;
    gap: 1rem;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: center;
    text-align: center;
}

.info,
.copyright {
    font-family: 'PoppinsRegular';
    font-size: 0.875rem;
    color: var(--neutral-color-2);
}

.separator {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.link {
    text-decoration: none;
    font-family: 'PoppinsRegular';
    font-size: 0.875rem;
    color: var(--neutral-color-2);
}

.socialIcon {
    width: 1.75rem;
}

.logoAndLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socialLinksAndCopy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


@media screen and (min-width: 48rem) {
    .content {
        display: grid;
        grid-template-areas: 'logo .'
            'navLinks contactInfo'
            'socials copyright';

        row-gap: 3.5rem;
    }

    .logo {
        grid-area: logo;
    }

    .footerLinks {
        grid-area: navLinks;
    }

    .contactInfo {
        grid-area: contactInfo;
        text-align: right;
    }

    .socials {
        grid-area: socials;
    }

    .copy {
        grid-area: copyright;
        text-align: right;
    }


    .footerLinks {
        flex-direction: row;
        gap: 2rem;
    }
}

@media screen and (min-width: 90rem) {

    .info,
    .copyright {
        font-size: 1rem;

    }

    .link {
        font-size: 1rem;
    }
}