.heroContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 2;
    padding: 4.5rem 1.5rem var(--topAndBotPadding) 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.375rem;
}


.titleAndDescriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5625rem;
}

.description {
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-family: 'Poppins';
    font-weight: 400;
}

.imgWrapper {
    display: flex;
    justify-content: center;
}

.heroImg {
    object-fit: cover;
    display: flex;
    align-self: center;
    max-width: 320px;
    width: 100%;
}

.lineBreak {
    display: block;
    /* Ensure the line break behaves as expected */
    content: "";
    /* Optionally ensure space is preserved */
}


@media (min-width: 48rem) {

    .heroContainer {
        padding: 5.3125rem 2.5rem var(--topAndBotPadding) 2.5rem;
    }

    .content {
        gap: 2.5rem;
    }

    .textWrapper {
        text-align: center;
        align-items: center;
        gap: 1.9375rem;

    }

    .heroImg {
        max-width: 21.625rem;
    }

    .description {
        font-size: 1.375rem;
    }

    .titleAndDescriptionWrapper {
        gap: 0.8125rem;
    }


}


@media (min-width: 90rem) {


    .heroContainer {
        padding-top: 2rem;
        justify-content: center;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3.5rem;
    }

    .description {
        font-size: 1.5rem;
    }


    .titleAndDescriptionWrapper {
        text-align: left;
        align-items: flex-start;
        gap: 1.375rem;
    }

    .textWrapper {
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        gap: 2.375rem;
    }

    .heroImg {
        max-width: 29rem;
        justify-self: end;
    }

    .title {
        min-width: max-content;
    }

}