.heroContainer {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    gap: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.125rem;
}

.accentWord {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: DMSerifDisplay;
    font-weight: normal;
    color: var(--primary-color);
}

.focusLeft {
    object-position: left;
}

.imgWrapper {
    display: flex;
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-13.5rem * 4))
    }
}

.slider {
    width: 100vw;
    position: relative;
    height: auto;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* margin: auto; */
    overflow-x: hidden;
    position: relative;
}



.sliderTrack {
    display: flex;
    gap: 1.5rem;
    animation: scroll 10s linear infinite;
    width: calc(13.5rem * 4);
}

.heroImg {
    object-fit: cover;
    max-width: 20rem;
    display: flex;
    align-self: center;
}

.imgCarousel {
    border-radius: 0.5rem;
    width: 12rem;
    object-fit: cover;


}

.imgCarousel:nth-child(even) {
    /* transform: translateY(1rem); */
}

/* .imgCarousel:nth-child(odd):hover {
    transform: rotate(-3deg);
} */

@media (min-width: 48rem) {

    .heroContainer {
        padding: 0 2.5rem;
    }

    .heroImg {
        max-width: 30rem;
    }

    .accentWord {
        font-size: 3.375rem;
        line-height: 3.375rem;
    }

    .content {
        gap: 2.5rem;
    }

    .textWrapper {
        text-align: center;
        align-items: center;
        gap: 1.5rem;

    }


}

@media (min-width: 64rem) {
    .content {
        flex-direction: row;
        /* gap: 4rem; */
    }

    .textWrapper {
        align-items: flex-start;
        justify-content: center;
        text-align: left;
    }


    .heroImg {
        /* max-width: 22rem; */
    }
}

@media (min-width: 90rem) {

    .content {
        flex-direction: row;
    }

    .textWrapper {
        align-items: flex-start;
        justify-content: center;
        text-align: left;
    }

    .heroImg {
        max-width: none;
        width: 48rem;

    }

    .accentWord {
        font-size: 5rem;
        line-height: 5rem;

    }
}