.container {
    padding: var(--topAndBotPadding) var(--sidePadding);
}

.mentionsLegales {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 48rem) {

    .title {
        font-size: 2.5rem;
    }
}