.navbar {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 3.5rem 1.5rem;
}

.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.link {
    color: var(--black);
    text-decoration: none;
    font-size: 0.9375rem;
}

.link:hover {
    color: #fff;
}

.navLink {
    display: flex;
    gap: 2rem;
}


.link::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    transition: all .5s;

}

.link:hover {
    color: var(--darker-primary-color);
}

.buttonWrapper {
    display: flex;
    padding-top: 2rem;
}

.mobileNav {
    height: 100vh;
    width: 55%;
    position: fixed;
    z-index: 98;
    top: 0;
    right: -100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding: 6rem 3rem;
    font-size: var(--body-500);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: .5s ease-in-out;
}

.mobileNav.active {
    right: 0;
}

.mobileLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobileLink {
    color: var(--black);
    font-size: 1.125rem;
    text-decoration: none;
    font-family: 'DMSerifDisplay';
}


.logo:hover {
    color: var(--primary-color) !important;

}

.logo:hover img {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.socialLogo {
    width: 1.75rem;
    height: 1.75rem;
}

.logoImg {
    width: 5rem;
}

.navbar li {
    list-style: none;
}

/* Hamburger menu */
.hamburger {
    position: relative;
    display: block;
    width: 1.5rem;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 99;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10rem;
    background-color: var(--black);
    margin: 5px 0;
    transition: .4s;
}

.hamburger.isActive:before {
    transform: rotate(-45deg) translate(-5px, 4px);
    background-color: var(--black);
}

.hamburger.isActive .bar {
    opacity: 0;
}

.hamburger.isActive:after {
    transform: rotate(45deg) translate(-7px, -7px);
    background-color: var(--black);
}

@media (min-width: 48rem) {

    .hamburger {
        display: none;
    }

    .navbar {
        padding: 2.5rem 2.5rem 5rem 2.5rem;
    }

}

@media (min-width: 1024px) {


    .navLink {
        gap: 4rem;
    }

    .navbar {
        padding: 3.5rem 3.5rem 6rem 3.5rem;
    }

}

@media (min-width: 1440px) {
    .navbar {
        padding-bottom: 3rem;
    }

    .navWrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}