.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--topAndBotPadding) var(--sidePadding);
    position: relative;

}

.problem {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.75rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.badFeatures {
    list-style-position: inside;
}









.problemImg {
    object-fit: cover;
    display: flex;
    align-self: center;
    max-width: 320px;
    width: 100%;
}

@media (min-width: 48rem) {
    .problemImg {
        max-width: 25rem;
    }

    .content {
        gap: 2rem;
    }

    .description {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 90rem) {

    .content {
        text-align: right;
    }

    .problem {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .problemImg {
        max-width: 30.5rem;
    }

    .description {
        max-width: none;
    }
}