.projectSection {
    padding: 3rem 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
}


@media screen and (min-width: 48rem) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .projectSection {
        padding: 5.5rem 2.5rem;
    }

    .content {
        gap: 4rem;
    }
}

@media screen and (min-width: 64rem) {}

@media screen and (min-width: 90rem) {
    .projects {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;
    }
}