.projectSection {
    padding: 3rem 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
}

.project {
    display: flex;
    flex-direction: column;

}

.cardLink {
    text-decoration: none;
    color: inherit;
}

.projectTitle {
    text-transform: uppercase;
}

.projectImage {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    /* display: flex;
    flex-grow: 2;
    */
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5rem 1.5rem 1.875rem 1.5rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    border: 1px solid var(--neutral-color);
    border-top: none;
}



@media screen and (min-width: 48rem) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .projectSection {
        padding: 5.5rem 2.5rem;
    }

    .content {
        gap: 4rem;
    }

    .textWrapper {
        min-height: 5rem;
    }
}

@media screen and (min-width: 90rem) {
    .projects {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;
    }

    .textWrapper {
        min-height: 8rem;
    }
}