.projectContainer {
    padding: 4.5rem var(--sidePadding) var(--topAndBotPadding) var(--sidePadding);
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.projectTitle {
    font-family: 'OpenSansRegular';
    font-size: var(--heading-700);
    text-transform: uppercase;
    text-align: center;
}

.projectTitle::after {

    content: '';
    display: block;
    width: 50%;
    max-width: 12.5rem;
    height: 0.25rem;
    background-color: var(--primary-color);
    margin-top: 1.5rem;
    margin-inline: auto;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projectImage {
    border-radius: 0.625rem;
}

.requirements {
    text-align: left;
}

.requirement {
    margin-left: 1.5rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 48rem) {


    .projectContainer {
        gap: 3rem;
        padding: 0 3.5rem;
    }

    .description {
        align-items: start;
        text-align: left;
    }

}

@media (min-width: 64rem) {

    .wrapper {
        display: grid;
        grid-template-areas: 'quickDescription projectImage'
            'description description';
        text-align: center;
        row-gap: 6rem;
    }

    .projectImage {
        grid-area: projectImage;
    }


    .textWrapper {
        grid-area: quickDescription;
        align-items: start;
        text-align: left;
    }

    .description {
        grid-area: description;
        gap: 2rem;
        align-items: start;

    }
}

@media (min-width: 90rem) {


    .projectContainer {
        gap: 6rem;
    }

    /* .textWrapper {
        align-items: flex-start;
    } */

    .projectImage {
        align-self: baseline;
    }
}