.projectContainer {
    padding: var(--topAndBotPadding) var(--sidePadding);
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;
    padding-top: 2.25rem;
}

.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
}

.imageWrapper:hover .projectImage,
.imageWrapper:focus-within .projectImage {
    filter: grayscale(100%) brightness(0.3) blur(2px);
}


.imageWrapper {
    position: relative;
    display: inline-block;
}

.imageWrapper:focus {
    outline: none;
}

.imageWrapper .buttonWebsite:focus {
    outline: none;
}


.imageWrapper:hover .buttonWebsite {
    opacity: 1;
}

.projectImage {
    transition: filter 0.25s;
}

.buttonWebsite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    filter:
}

.projectImage,
.processImage {
    border-radius: 0.375rem;
    max-width: 39rem;
    width: 100%;
}

.requirement {
    margin-left: 1.5rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.buttonWebsite {
    padding: 1rem 1.5rem;
    box-shadow: none;
}

.buttonWebsite:hover {
    box-shadow: none;
}


.process {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.125rem;
}

@media (min-width: 48rem) {

    .projectContainer {
        gap: 3rem;
    }

    .content {
        gap: 7rem;
        padding-top: 5rem;
    }

    .context {
        gap: 2.5rem;
    }


    .projectImage,
    .processImage {
        max-width: 50rem;
    }

    .textWrapper {
        gap: 1.75rem;
    }

    .process {
        gap: 2.5rem;
    }

}

@media (min-width: 64rem) {

    .context {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .projectImage {
        max-width: 90%;
        justify-self: flex-start;
    }

    .processImage {
        max-width: 90%;
        justify-self: end;
    }

    .textWrapper {
        text-align: left;
        align-items: flex-start;
    }

    .process {
        --gap: 2.5rem;
        display: grid;
        grid-template-columns: calc(55% - var(--gap)/2) calc(45% - var(--gap)/2);
        align-items: center;
        justify-content: center;
        gap: var(--gap);
    }


    .processusTextWrapper {
        align-items: flex-end;
    }

    .content .imageWrapper:nth-child(2) {
        display: flex;
        justify-content: flex-end;
    }

    .content .imageWrapper:nth-child(1) {
        display: flex;
        justify-content: flex-start;
    }


}

@media (min-width: 90rem) {

    .content {
        padding-top: 6.25rem;
    }

    .context {
        --gap: 2.5rem;
        display: grid;
        grid-template-columns: calc(45% - var(--gap)/2) calc(55% - var(--gap)/2);
        align-items: center;
    }

    .projectImage {
        justify-self: end;
        max-width: 100%;
    }

    .process {
        align-items: flex-end;
    }


    .textWrapper {
        gap: 2.375rem;
        align-items: flex-start;
        text-align: start;
    }

    .processusTextWrapper {
        align-items: flex-end;
    }

    .projectContainer {
        gap: 6rem;
        padding: calc(var(--topAndBotPadding) + 1.5rem) var(--sidePadding);
    }

    .content {
        gap: 10rem;
    }
}