.questionAnswerContainer {
    padding: 1.5rem .5rem 1rem .5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    border-bottom: 1px solid var(--grey);
}

.questionAnswerContainer:last-child {
    border-bottom: none;
}

.questionAnswerContainer a {
    text-decoration: underline;
    color: var(--form-field);
}

.questionAnswerContainer a:hover {
    color: var(--black);
}

.question {
    /* font-family: LatoBold; */
    font-size: var(--body-500);
}

.answer {
    /* color: #C0C0C0; */
    color: var(--form-field);
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
    /* opacity: 0; */
    /* , opacity .2s ease-out; */
    font-size: var(--body-400);

}

.answer.active {
    /* opacity: 1; */
    max-height: 100rem;
    transition: max-height .4s ease-out;
    /* , opacity 0.3s ease-out; */
}

.questionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}


.icon {
    width: 1.75rem;
    height: 1.75rem;
}

.icon:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .icon {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .questionAnswerContainer:last-child {
        padding-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .questionAnswerContainer:last-child {
        padding-bottom: 3rem;
    }
}