.container {
    text-align: center;
    padding: 3rem 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    isolation: isolate;
    padding: 3.5rem 0;
}

.servicesWrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.services::after {
    content: '';
    position: absolute;
    background-color: var(--white);
    inset: 0;
    transform: skewY(-2deg);
    z-index: -1;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.125rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
}



.serviceText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.service p {
    opacity: .8;
}

@media (min-width: 48rem) {

    .container {

        padding: 3rem 2.5rem;
    }

    .services {
        padding: 4.5rem 0;

    }

    .servicesWrapper {
        display: grid;
        grid-template-areas:
            'audit website'
            'design .';
    }

    .service {
        padding: 0 2.5rem;
    }

    .audit {
        grid-area: audit;
    }

    .website {
        grid-area: website;
    }

    .design {
        justify-self: center;
        grid-area: design;
    }

    .description {
        padding-bottom: 2rem;
        max-width: 43.75rem;
        align-self: center;
    }

    .content {
        gap: 4rem;
    }


}

@media (min-width: 64rem) {

    .container {
        padding: 3rem 3.5rem;
    }

    .services {
        padding: 4.5rem 0;
    }

    .description {
        max-width: 50%;
        display: flex;
        align-self: center;
    }

    .servicesWrapper {
        display: grid;
        grid-template-areas:
            'audit website design';
        justify-items: center;
        max-width: 80rem;
        margin-inline: auto;
    }

    .services::after {
        transform: skewY(-2deg);
    }

    .service {
        padding: 0;
        text-align: center;
        align-items: center;
    }

    .service:first-of-type {
        padding-left: 2.5rem;
    }

    .service:last-of-type {
        padding-right: 2.5rem;
    }

}

@media (min-width: 90rem) {
    .services {
        padding: 7.5rem 0;
        gap: 2rem;
    }

    .service:first-of-type {
        padding-left: 0;
    }

    .service:last-of-type {
        padding-right: 0;
    }
}