.valueSection img {
    width: 7rem;
    height: 7rem;
}

.valueSection h2,
.valueSection h3 {
    text-align: center;
}

.valueProposition {
    display: flex;
    flex-direction: column;
    padding: 2em 0 2.5em 0;
    gap: .5rem;
    font-size: var(--body-500);
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    background-color: #fff;
    gap: .25rem;
    border-radius: 15px;
}


.imageBg {
    width: 8rem;
    height: 8rem;
    background-color: #F5F0FA;
    position: absolute;
    bottom: 14px;
    right: -9px;
    border-radius: 50%;
    z-index: -1;
}

.imageWrapper {
    position: relative;
    z-index: 10;
    padding-bottom: 1rem;
    /* width: 8rem;
    height: 8rem; */
}

.customWrapper p {
    text-align: center;
}

.valueDescription {
    font-size: var(--body-500);
    color: var(--black);
    text-align: center;
    max-width: 80%;

}

.buttonWrapper {
    display: flex;
    justify-content: center;
    font-size: var(--body-500);
    padding-top: 3em;

}

@media screen and (min-width: 767px) {
    .customWrapperChild {
        max-width: 60%;
    }

    .cardContainer {
        display: flex;
        flex-direction: row;
        gap: 2rem
    }
}

@media screen and (min-width: 1024px) {
    .valueSection img {
        width: 9rem;
        height: 9rem;
    }

    .imageBg {
        width: 10rem;
        height: 10rem;

    }
}

@media screen and (min-width: 1440px) {
    .cardContainer {
        gap: 3em;
        font-size: var(--body-500);
        justify-content: center;
    }

    .card {
        justify-content: center;
        max-width: 20%;
    }

}