.blinker {
    display: inline-block;
    height: 1.75rem;
    width: 2px;
    transform: translateY(1px);
    background-color: black;
    /* bg-slate-900 */
}

@media (min-width: 48rem) {
    .blinker {
        height: 2.125rem;
    }

}

@media (min-width: 90rem) {
    .blinker {
        height: 3.5rem;
    }

}