.container {
    padding: var(--topAndBotPadding) var(--sidePadding);
    background-color: white;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 2rem;

    font-size: 1rem;
}

.content h1 {
    line-height: normal;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.article {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 1rem;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.previewImgArticle {
    border-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
    max-width: 8.125rem;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 0 1rem 1rem 1rem;
    color: #000;
}

.textWrapper h2 {
    font-size: 1rem;
    line-height: 28px;
    font-weight: 600;
    line-height: normal;
}

.linkArticle {
    text-decoration: none;
    color: var(--black);
    max-width: 28rem;
}

@media (min-width: 48rem) {


    .content {
        align-items: center;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .header {
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .header p {
        max-width: 500px;
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .article {
        display: flex;
        flex-direction: column;
        max-width: 31.25rem;

    }

    .previewImgArticle {
        width: 100%;
        aspect-ratio: 16/9;
        max-width: none;
        max-height: 12.5rem;
    }

}


@media (min-width: 90rem) {


    .content {
        text-align: center;
        font-size: 1.125rem;

        gap: 5rem;
    }

    .content h1 {
        font-size: 3.5rem;
    }

    .articles {
        grid-template-columns: 1fr 1fr 1fr;
    }



    .textWrapper h2 {
        font-size: 1.25rem;
    }
}