:root {
    /* Colors */
    --primary-color: #837BD1;
    --darker-primary-color: #150147;
    --lighter-primary-color: hsl(246, 48%, 65%, 30%);
    --primary-background-color: #ffffff;
    --secondary-background-color: lighten(#F7E6FF, 4%);
    --black: #1D1C1D;
    --grey: #ccc;
    --lightGrey: #F8F8F8;
    --footer-background-color: #150147;
    --form-field: #9FAABE;

    /* Breakpoints */
    --desktop: 1440px;
    --laptop: 1040px;
    --tablet: 768px;
    --mobile: 375px;

    /* Fonts */
    --heading-900: 2rem;
    --heading-600: 1.75rem;
    --heading-500: 1.25rem;
    --body-500: 1rem;
    --body-400: 1rem;
}

@media screen and (min-width: 768px) {
    :root {
        --heading-900: 2.5rem;
        --heading-600: 2rem;
        --heading-500: 1.5rem;
        --heading-400: 1.25rem;
        --body-500: 1.25rem;
        --body-400: 1.25rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --heading-900: 3rem;
        --heading-600: 2.5rem;
        --heading-500: 1.75rem;
        --heading-400: 1.25rem;
        --body-500: 1.5rem;
        --body-400: 1.25rem;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --heading-900: 4.25rem;
        --heading-600: 3.25rem;
        --heading-500: 2rem;
        --heading-400: 1.5rem;
        --body-500: 2rem;
        --body-400: 1.25rem;
    }
}



@font-face {
    font-family: LatoRegular;
    src: url('../public/fonts/static/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: LatoBold;
    src: url('../public/fonts/static/Lato/Lato-Bold.ttf');
}


* {
    margin: 0;
    padding: 0;
    /* box-sizing: inherit; */
    font-family: LatoRegular;
}

html {
    /* Bug : rentre en conflit avec le form validation (le message d'erreur ne s'affiche pas)  */
    /* scroll-behavior: smooth; */
    font-size: 90%;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;

}


::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-track {
    border-radius: .5rem;
    background-color: var(--lightGrey);
    border: 1px solid #cacaca;
    margin-block: .1em;

}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    /* background-color: #ad9ede; */
    background-color: #A0A0A0;
}


/* UTILS */

.display-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.flex-grow-2 {
    flex-grow: 2;
}

.mb-4 {
    margin-bottom: 4rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-05 {
    gap: .5rem
}

/* STYLE */


/* Title */

h1 {
    font-size: var(--heading-900);
    font-family: LatoBold;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    font-weight: normal;
}

h2 {
    font-size: var(--heading-600);
    color: var(--black);
}

h3 {
    font-size: var(--heading-500);
    color: var(--black);
    font-weight: 600;
}

img {
    max-width: 100%;
    display: block
}

.wrapperLeftAndRight {
    display: grid;
    grid-template-columns: 60% 40%;
}

.leftSide {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
}


.rightSide {
    max-height: 600px;
}

.rightSide img {

    max-width: 100%;
    max-height: inherit;
    object-fit: cover;
    object-position: left;

}


/* Button */
button {
    padding: 1rem;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2px;
}

.primary-button {

    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1.5em;
    border-radius: 10rem;
    font-size: var(--body-500);
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    font-family: Lato;
    /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15); */

}

.primary-call-to-action {
    background-color: #fff;
    color: var(--black);
    padding: .75em 1.75em;
    border-radius: 10px;
    font-size: var(--body-500);
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 700;
    /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15); */
}

.primary-call-to-action.bgBlack {
    background-color: var(--black);
    color: #fff;
    font-weight: 400;
}

.primary-call-to-action:hover {
    transform: translateY(-4px);
    transition: 0.2s ease-in-out;

}

.primary-call-to-action:disabled,
.primary-call-to-action[disabled] {
    background-color: #ccc;
    box-shadow: none;
}

.primary-call-to-action:disabled:hover,
.primary-call-to-action[disabled]:hover {
    transform: none;
    cursor: not-allowed;
}


.secondary-button {
    background-color: #fff;
    border: 1px solid var(--grey);
    color: var(--black);
    padding: .75em 1.5em;
    border-radius: 10rem;
    font-size: var(--body-500);
    transition: 0.2s ease-in-out;
}

.dark-filter {
    background-color: rgba(0, 0, 0, 23%);
    transition: background-color .5s,
}

input {
    /* all: unset; */
    padding: .5em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: var(--body-400);

}

textarea {
    /* all: unset; */
    padding: .5rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: var(--body-400);
    resize: none;
    /* white-space: nowrap; */
}

a {
    text-decoration: none;

    /* font-size: variables.$heading-200;
     font-weight: 600;
     color: #000000;
     letter-spacing: .9px;

     &:hover {
         color: var(--primary-color);
         transition: .1s ease-in-out;
     } */
}

.overlay-loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 31, 31, .5);
    width: 100%;
    height: 100%;
    z-index: 999;

}

#popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(35, 31, 31, .3);
    z-index: 999;
}

.overlay-burger-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(35, 31, 31, .3);
    z-index: 999;
    transition: .3s ease-in-out;
}


.popup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    align-items: center;
    color: #000;
    border-radius: 1rem;
    padding: 1.875rem 1.25rem;
    position: fixed;
    width: 70%;
    height: fit-content;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;

    h2 {
        font-size: var(--heading-500);
        padding-top: 1rem;
        text-align: center;
    }

    p {
        font-size: var(--body-400);
        text-align: center;
    }
}

section {
    padding: 2rem 1rem;
    min-height: 100svh;
}

.splide__pagination__page.is-active {
    background: var(--primary-color) !important;
}

#values-section,
#skills-section {
    background-color: var(--secondary-background-color);
    min-height: 100vh;
}

#project-section {
    min-height: 100vh;
    align-items: normal;

    h2 {
        text-align: center;
    }
}




.about-me-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 3rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    }

    .talk-no-jutsu {
        width: 50%;
        padding: 3rem 0;

        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 3rem 0 0 0;
        }


        p {
            font-size: 1.4rem;
            line-height: 2.5rem;
            opacity: .8;
        }
    }
}


#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
    }

    .contact-form-header {
        display: flex;
        gap: 1rem;
        width: 100%;
    }

    .contact-form-body {
        display: flex;
        width: 100%
    }

    .contact-form-footer {
        padding: 2rem;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    text-align: center;


    /* &::before {
         background-image: url(./images/illustration_programmer.svg);
         background-repeat: no-repeat;
     background-size: cover;
         position: absolute;
         top: 0px;
         right: 0px;
         bottom: 0px;
         left: 0px;
         opacity: 0.75;
         content: "";
     } */

    .main-content-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 75%;
    }

    .main-content-footer {
        display: flex;
        max-width: 75%;
        padding-top: 3rem;
    }
}

.main-container {
    background-color: var(--black);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.splide__arrow {
    background: unset !important;
}

/* FullCalendar overwrite styles */
.fc .fc-toolbar-title,
.fc-toolbar-title {
    font-size: var(--heading-500);
}

.fc .fc-button-primary {
    background-color: #fff;
    border-color: var(--grey);
    color: #000
}

.fc .fc-button-primary:hover {
    background-color: #fff;
    border-color: var(--grey);
    color: #000
}

.fc .fc-button-primary:not(:disabled):active {
    background-color: #fff;
    border-color: var(--grey);
    color: #000
}

.fc .fc-button-primary:disabled {
    background-color: var(--grey);
    border-color: var(--grey);
    color: #fff
}

@media screen and (min-width: 768px) {
    .main-container {
        min-height: 100vh;
    }

    .popup {
        width: 40%;

    }

    .rightSide {
        max-height: 100vh;
    }

    section {
        padding: 2rem;
        min-height: 100vh;
    }
}

@media screen and (min-width: 1024px) {

    h1 {
        text-align: left;
    }

    section {
        padding: 3.5rem 2rem;
    }

    .popup {
        padding: 2rem 1.75rem;
    }

    .popup p {
        max-width: 80%;
    }

    .secondary-button {
        padding: 0.5em 2em
    }
}