:root {
    /* Colors */
    --primary-color: #2173C4;
    --darker-primary-color: #1A5999;
    --lighter-blue: #F0F4F7;
    --white: #fff;
    --black: #333;
    --background-color: var(--lighter-blue);

    /* Breakpoints */
    --desktop: 1440px;
    --laptop: 1040px;
    --tablet: 768px;
    --mobile: 375px;

    /* Fonts */
    --heading-900: 2.5rem;
    --heading-700: 1.75rem;
    --heading-500: 1.125rem;
    --body-500: 0.875rem;

    --sidePadding: 2rem;
    --topAndBotPadding: 2rem;
}

@media screen and (min-width: 768px) {
    :root {
        --heading-900: 3.375rem;
        --heading-700: 2rem;
        --heading-500: 1.25rem;
        --body-500: 0.9375rem;

        --sidePadding: 2rem;
        --topAndBotPadding: 2rem;
    }
}


@media screen and (min-width: 1440px) {
    :root {
        --heading-900: 5rem;
        --heading-700: 2.5rem;
        --heading-500: 1.25rem;
        --body-500: 1.125rem;

        --sidePadding: 2rem;
        --topAndBotPadding: 2rem;
    }
}



@font-face {
    font-family: DMSerifDisplay;
    src: url('../public/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: DMSerifDisplayItalic;
    src: url('../public/fonts/DM_Serif_Display/DMSerifDisplay-Italic.ttf');
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url('../public/fonts/OpenSans/OpenSans-SemiBold.ttf');
}


* {
    margin: 0;
    padding: 0;
    /* box-sizing: inherit; */
    font-family: DMSerifDisplay;
}

html {
    /* Bug : rentre en conflit avec le form validation (le message d'erreur ne s'affiche pas)  */
    /* scroll-behavior: smooth; */
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--black);
}


/* STYLE */


/* Title */

h1 {
    font-family: OpenSansSemiBold;
    font-size: var(--heading-900);
}

h2 {
    font-size: var(--heading-700);
}

h3 {
    font-size: var(--heading-500);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Button */
button {
    padding: 1rem;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2px;
}

.primary-button {}




.dark-filter {
    background-color: rgba(0, 0, 0, 23%);
    transition: background-color .5s,
}


.overlay-loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 31, 31, .5);
    width: 100%;
    height: 100%;
    z-index: 999;

}

.overlay-burger-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(35, 31, 31, .3);
    z-index: 90;
    transition: .3s ease-in-out;
}





@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}